 <h4><%= link_to "Universities", "/general/ranking" %></h4>
 <br>
 <br>
 <h4>  <%= link_to "Major ranking",mylist_path%> </a></h4>
 <br>
 <br>
 <h4><%= link_to "Hot universities", "/general/hot_ranking" %></h4>
 <br>
 <br>
 <h4><%= link_to "Recommended universities", mylist_path %></h4>
  