 <h4><%= link_to "Universities", "/general/ranking" %></h4>
 <br>
 <br>
 <h4>  <%= link_to "Major ranking","/majorrankings/new", layout: "application"%> </a></h4>
 <br>
 <br>
 <h4><%= link_to "Hot universities", "/general/hot_ranking" %></h4>
 <br>
 <br>
 <h4><%= link_to "Recommended universities", "/recommendeduniversities/new" %></h4>
  